.task-modal-dialog {
    background-color: #222222;
}

.task-modal-header {
    background-color: #303030;
    color: #fff;
    -webkit-box-shadow: 0 3px 5px 0 black;
    -moz-box-shadow: 0 3px 5px 0 black;
    box-shadow: 0 3px 5px 0 black;
    margin-bottom: 20px;
}