#task-overview-list {
    margin: auto;
    list-style-type: none;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: stretch;
    padding: 0;
}

li.line {
    width: 100%;
    margin: 3px 5px;
}

li.card {
    width : 300px;
    margin: 10px 5px;
}

app-task-line {
    width: 100%;
}