<div class="task-card">
    <div class="task-content">
        <div [ngClass]="'task-' + viewTypeName(view) + '-header'">
            <span [ngClass]="'task-' + viewTypeName(view) + '-header-left'">{{task.name | capitalize}}</span>
            <span [ngClass]="'task-' + viewTypeName(view) + '-header-right'">
                <span [ngClass]="'task-' + viewTypeName(view) + '-number'">#{{task.id}}</span>
                <img [ngClass]="'task-' + viewTypeName(view) + '-state'" *ngIf="states[task.state]" [src]="states[task.state]">
            </span>
        </div>
        <p [ngClass]="'task-' + viewTypeName(view) + '-desc'">
            {{task.description}}
        </p>
        <div [ngClass]="'task-' + viewTypeName(view) + '-footer task-card-text-footer'">
            Créé par {{task.user_name}} le {{task.date | date:'dd/MM/yyyy à HH:MM'}}
        </div>
    </div>
    <div [ngClass]="'task-' + viewTypeName(view) + '-shadow'"></div>
    <div [ngClass]="'task-' + viewTypeName(view) + '-bottom'"></div>
</div>
