.task-card {
    float: left;
    margin: 30px;
    position: relative;
    border-radius: 2px;
    overflow:  hidden;
    background-color: #aaaaaa;
    height: 35%;
    width: 344px;
}

.tc-content {
    padding: 8px;
}

.tc-bottom {
    height: 10px;
    background-color: #0066ff;
}

.tc-text-title {
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 24px;
    color: #222222;
}

.tc-title {
    margin: 0px;
    border-bottom: 1px solid #999999;
}

.tc-footer {
    text-align: right;
    margin-right: 10px;
}

.tc-text-footer {
    font-size: 13px;
    font-style: italic;
    font-variant: normal;
    font-weight: 500;
    line-height: 13px;
    color: #222222;
}