<div class="task-card">
    <div class="tc-content">
        <div class="tc-title tc-text-title">
            {{task.name | capitalize}} -- {{task.state}}
        </div>
        <p class="tc-desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        </p>
        <div class="tc-footer tc-text-footer">
            Créé par {{task.userName}}
        </div>
    </div>
    <div class="tc-shadow"></div>
    <div class="tc-bottom"></div>
</div>
