ul {
    list-style-type: none;
    display: flex;
    align-content: space-around;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    padding: 0;
}

li {
    flex: 1 1 450px;
    margin: 20px;
}

app-task-line {
    width: 100%;
}