<div class="container-fluid task-modal-dialog">
    <form novalidate class="simple-form">
        <div class="row task-modal-header">
            <h1 class="col-sm-10">Création d'une nouvelle tâche</h1>
            <button class="cols-sm-2 close" type="button" (click)="onCancel()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="task-modal-body">
            <label for="task-title">Titre: </label><br/>
            <input type="text" name="task-title" id="task-title" [(ngModel)]="task.name" autofocus required/><br/>

            <label for="task-desc">Description: </label><br/>
            <textarea name="task-desc" id="task-desc" [(ngModel)]="task.description" cols="40" rows="4"></textarea><br/>

            <!--TODO: retrieve modules from module endpoint-->
            <label for="task-type">Tâche: </label><br/>
            <select name="task-type" id="task-type" [(ngModel)]="selected_task_type">
                <optgroup *ngFor="let module of modules" [label]="module.name">
                    <option *ngFor="let type of module.types" [ngValue]="type.code">{{type.name}}</option>
                </optgroup>
            </select><br/>
        </div>
        <div class="task-modal-footer">
            <button type="button" (click)="onCreateTask()">Créer</button>
            <button type="button" (click)="onCancel()">Annuler</button>
        </div>
    </form>
</div>
