* {
    color: darkgray;
}

app-toolbar {
    position: fixed;
    top: 0;
    width: 100%;
}

#main-container {
    margin-top: 70px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

app-tasks-overview {
    flex: 1;
    margin: 10px;
}

app-task-view {
    flex: 4;
    margin: 10px;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

